<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmpyrionNetAPI" version="6.2.3" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="6.0.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.2" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="6.0.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="6.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="6.0.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="YamlDotNet" version="12.0.2" targetFramework="net48" />
</packages>